@font-face {
    font-family: 'Unbounded';
    src: url(../fonts/Unbounded-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #0E1014;
}

main {
    color: white;
}

span {
    color: #9747FF;
}

h1 {
    font-family: "Unbounded", sans-serif;
}

p, a {
   font-family: "Poppins", sans-serif;
}

main a {
    text-decoration: none;
    text-align: center;
    line-height: 66px;
    display: block;
    width: 340px;
    height: 66px;
    background-color: #9747FF;
    color: white;
    border-radius: 36px;
    font-size: 24px
}

main a:hover {
    background-color: blueviolet
}

section img {
    display: block;
    width: 792px;
    height: 446px;
}


