@font-face {
    font-family: 'Unbounded';
    src: url(../fonts/Unbounded-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

header img {
    margin: 75px 0 0 360px;
}

body {
    background-color: #0E1014;
}

main {
    color: white;
    text-align: center;;
}

span {
    color: #9747FF;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    margin-top: 60px;
}

p {
    font-size: 24px;
    margin: 24px auto 0;
    width: 792px;
    text-align: center;
}

p, a {
   font-family: "Poppins", sans-serif;
}

main a {
    text-decoration: none;
    text-align: center;
    line-height: 66px;
    display: block;
    width: 340px;
    height: 66px;
    background-color: #9747FF;
    color: white;
    border-radius: 36px;
    font-size: 24px;
    margin: 40px auto;
}

main a:hover {
    background-color: blueviolet
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    header img {
        margin: 65px 0  0 60px;
    }

    p{
      width: 648px;  
    }
}

@media (max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }
    p {
        width: 340px;
        font-size: 20px;
    }
}

